<%= form_with(model: home, method: :patch, url: root_path) do |form| %>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit 'Update description' %>
  </div>
<% end %>
