<%= form_with(model: booking, url: "#{bookings_url}/#{booking.id}") do |form| %>
<div class="field">
    <%= form.label :actual %>
    <%= form.check_box :actual %>
  </div>

  <div class="actions">
    <%= form.submit t('update') %>
  </div>
<% end %>
