<%= form_with(model: booking, url: booking_url(booking)) do |form| %>
<div class="field">
    <%= form.label :actual %>
    <%= form.check_box :actual %>
  </div>

  <div class="actions">
    <%= form.submit 'Update' %>
  </div>
<% end %>
