<table>
  <thead>
  <tr>
    <th>Author name</th>
    <th>Author email</th>
    <th>Body</th>
    <th>Created</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @reviews.each do |review| %>
    <tr>
      <%= render 'reviews/admin/review', review: review %>
    </tr>
  <% end %>
  </tbody>
</table>

